html{
    font-size: 150%;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P',sans-serif;
    color: #eee;
    background-color: #222;
    /*background-color: #606347;*/
}

header{
    position: relative;
    border-bottom: 10px solid #eee;
    top: 100px;
    
}

main{
    height: 65 vh;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left{
    width: 52rem;
    display:flex;
    flex-direction: column;/*i rreshton elementet ne menyre kollone*/
}

.right {
    width: 52 rem;
    font-size: 2 rem;
    
}

/* Elements style*/
h1 {
    font-size: 4 rem;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 6px;
    left:52%;
    transform: translate(-50%, -50%);
    
}

.number {
    background: #eee;
    color: #333;
    font-size: 10 rem;
    width: 15 rem;
    padding: 5 rem 0 rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}
.btn {
    font-size: 1.4 rem;
    text-align: right;
    bottom: 120px;
    position: relative;
}

.again {
   width: 100px;
   height: 70px;
    position: absolute;/*hiqet nga rrjedhja norale ne menyre qe ta coj siper nje nje drejtim me nje tekst tjr*/
    bottom: 100px;/* vendoset siper ne kryje leviz me anen e position absolute*/
}

.guess{
    width: 20%;
    padding: 32px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    position: relative;
    top: 210px;
    left: 220px;
}

.check{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    position: relative;
    top: 210px;
    left: 220px;
    
}
.message{
    position: relative;
    top: 210px;
    right: 220px;
}

.msg-score{
    position: relative;
    top: 210px;
    right: 220px; 
}

.msg-highscore{
    position: relative;
    top: 210px;
    right: 220px;
}